body {
    margin: 0;
    padding: 0;
    background: #000;
}

p {
    font-size: 8px;
    line-height: 8px;
    text-align: justify;
    
    background: url("images/WhatsApp Image 2025-01-26 at 09.27.12.jpeg") no-repeat center/cover;
    background-attachment: fixed;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(225, 225, 255, 0); /* Fully transparent text */
}

  